<!doctype html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <title>QUnit multipleFields</title>

    <!-- qunit files -->
    <link rel="stylesheet" type="text/css" href="/lib/qunit/qunit-1.14.0.css"/>
    <script type="text/javascript" src="/lib/qunit/qunit-1.14.0.js"></script>
    <!-- /qunit files -->

    <!-- sources to test -->
    <script src="/lib/jquery-1.11.1.min.js"></script>
    <script src="/lib/handlebars-v1.3.0.js"></script>
    <script src="../src/jquery.multipleFields.js"></script>

    <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css">
    <!-- /sources to test -->

    <!-- files with test -->
    <script type="text/javascript" src="test.js"></script>
    <!-- /files with test -->

</head>
<body>

<div id="qunit"></div>
<div id="qunit-fixture"></div>

<div style="display: none;">

    <form action="">
        <div class="fields" id="demo">
            <div class="items"></div>

            <a class="btn btn-info btn-add-new-field" href="#">Add new field</a>
        </div>

        <div class="fields" id="demo1a">
            <div class="items"></div>

            <a class="btn btn-info btn-add-new-field" href="#">Add new field</a>
        </div>
        
        <div class="fields" id="demo1b">
            <div class="items"></div>

            <a class="btn btn-info btn-add-new-field" href="#">Add new field</a>
        </div>
    </form>
    <br/>
    <a class="btn btn-success" id="programically-add-field" href="#">Add new field programically</a>

    <hr/>
    <form action="">
        <div class="fields" id="demo2">
            <div class="items"></div>

            <a class="btn btn-info btn-add-new-field2" href="#">Add new field</a>
        </div>
    </form>
    <br/>
</div>


<script id="tmpl-demo" type="text/x-handlebars-template">
    <div class="fields-panel">
        <div class="fields-panel-body">
            <div class="field">
                <label for="field_0_name">Field name</label>
                <input type="text" name="field[0][name]" id="field_0_name" value="{{value}}">
            </div>
            <div class="field">
                <label for="field_0_aa">Field name</label>
                <input type="text" name="field[0][aa]" id="field_0_aa">
            </div>
        </div>

        <div class="fields-panel-controls">
            <button class="btn btn-danger btn-remove-field"><i class="glyphicon glyphicon-remove"></i></button>
        </div>
    </div>
</script>

</body>
</html>